
 :root {
  --main-color:#000;
  --secondary-color:#333;
  --highlight-color: #044FF3;
  --background-color: #fff;
  --background-color-accent: #F8F8F8;
  --background-color-accent-dark: #777;
  --background-color-transparent: #ffffffc0;
  -webkit-tap-highlight-color: transparent;

  --border-radius: 16px;

  --1: 4px;
  --2: calc(var(--1) * 2);
  --3: calc(var(--1) * 3);
  --4: calc(var(--1) * 4);
  --5: calc(var(--1) * 5);
  --6: calc(var(--1) * 6);
  --7: calc(var(--1) * 7);
  --8: calc(var(--1) * 8);

  --typing-animation-speed: 220;
  /*
  --background-color: #2E2E52;
    --background-color: #22223c;

  --background-color:#222222;
  */
}

.display-none{
  display: none !important;
}

.main-color{
  color: var(--main-color) !important;
 }

.g2g-color{
  color: var(--g2g-color) !important;
}


 .cyan-color{
  color: cyan !important;
 }

 
 .cyan-color-link{
  color: cyan !important;
  cursor: pointer;
  pointer-events: all;
 }

 .red-color{
  color: red !important;
 }

 .uppercase{
  text-transform: uppercase;
 }

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  overflow:hidden;
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas{
  background:var(--background-color);

  /*background: black;*/
}
.hidden{
  opacity: 0;
  width:0;
}

html {
  height: calc(100%);

  margin: 0;
  width: 100%;
  background:var(--background-color);

  color: var(--main-color);

}


a {
  text-decoration: none;
  color: cyan;
}

a:hover {
  color: var(--secondary-color);
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

small, .ce-popover__item-label, .cdx-search-field__input
{
  /* small */


  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  letter-spacing: 0%;

}

html,
b, a, p,
.ce-paragraph, .cdx-block,
input,
textarea,
button,
.right-menu-arrow-button,
select,
li {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18.15px;
  letter-spacing: 0%;
  margin: 0px;
}

b{
  font-weight:  500;
}

h3, .dropdown-btn li {

  font-family: Inter;
  font-weight: 500 !important;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
}

h2,
.h2-input {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27.28px;
  letter-spacing: 0%;
}

h1,
.h1-input {
  font-family: 'Inter';
  /*font-family: Nunito;*/
  font-weight: 700;
  font-size: 24px;
  line-height: 32.74px;
  letter-spacing: 0%;  
}

.inactive {
  color: #888;
}

.hud{
  height:0px;
  position: relative;
  width:0px;
  opacity: 0.8;
  color: var(--main-color);
  z-index: 200;
}

.hud.no-opacity{
  opacity: 1;
  z-index: 100;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.clickable-field{
  pointer-events: auto !important;
}

.non-clickable-field{
  pointer-events: none !important;
}

.btn{
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--main-color);
  padding:var(--2);
  margin: -1px;
  border-radius: var(--border-radius);
  border: 1px solid var(--main-color);
  text-align: center;
}

.btn:hover{
  background-color: var(--main-color);
  color: var(--background-color);
}

.btn:active{
  background-color: #fff;
  color: var(--background-color);
}


@keyframes appear-with-shift{
  0% {
    transform: translate(0,100px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.appear-with-shift{
  animation: appear-with-shift 0.4s ease-in-out;
}

@keyframes appear-with-shift-left {
  0% {
    transform: translate(100px, 0);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.appear-with-shift-left{
  animation: appear-with-shift-left 0.3s ease-in-out;

}

@keyframes appear-with-shift-right {
  0% {
    transform: translate(-100px, 0);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.appear-with-shift-right{
  animation: appear-with-shift-right 0.3s ease-in-out;

}

.tabs-row{
  z-index: 100;
  width: calc(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--border-radius));
  border: 1px solid #888;  
  padding: var(--1);
  gap: var(--1);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.tabs-row .tab{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: var(--2);
  border-radius: 5px;
  flex: auto;
  color: var(--main-color);
  justify-content: center;
  cursor: pointer;
  flex: 1 1 0;
  width: 0;
  text-wrap: nowrap;
}

.tab:hover{
  color: #fff;
}

.tabs-row .tab.selected{
  background-color: var(--main-color);
  color: #000;
}

.main-screen{
  position: relative;
  width:100%;
  max-width: 600px;

  height: calc(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /*padding: var(--2);*/
  /*max-width: 600px;*/
  overflow: hidden;
  /*margin-bottom: 50px;*/

  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}


.main-screen .main-screen-section{
  position: relative;
  width:100%;
  height: calc(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /*padding: var(--2);*/
  /*max-width: 600px;*/
  /*margin-bottom: 50px;*/
  gap:var(--1);
  z-index: 100;
  overflow: hidden;
}


.inline-svg{
  display: inline-block;
  width: 1em; /* Matches the font size of the text */
  height: 1em; /* Matches the font size of the text */
  vertical-align: middle;
  margin-top: 0;
}

.inline-svg-large{
  display: inline-block;
  width: 1.4em; /* Matches the font size of the text */
  height: 1.4em; /* Matches the font size of the text */
  vertical-align: middle;
  margin-top: -2px;
}

.inline-svg-h2{
  display: inline-block;
  width: 1em; /* Matches the font size of the text */
  height: 1em; /* Matches the font size of the text */
  stroke: currentColor; /* This applies the text color to the SVG stroke, if applicable */
  vertical-align: middle;
  margin-bottom: 4px;
}


.inline-svg-plus{
  display: inline-block;
  width: 3em; /* Matches the font size of the text */
  height: 3em; /* Matches the font size of the text */
  stroke: cyan !important; /* This applies the text color to the SVG stroke, if applicable */
  vertical-align: middle;
}



.main-screen .drawer-screen{
  position: relative;
  width:100%;

  height: calc(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /*padding: var(--2);*/
  /*max-width: 600px;*/
  /*margin-bottom: 50px;*/
  gap:var(--2);
}

.opacity-transform{
  opacity: 0.2;
}

.opacity-transform-full{
  opacity: 0;
}

.hud .bottom-drawer{
  position : fixed;
  left: var(--2);
  right: var(--2);
  bottom: var(--2);
  bottom: 28px; /* web app problems */
  padding: var(--2);
  margin:auto;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  

  min-height: 50px;
  max-width: calc(600px - 2 * var(--2));
  max-height: calc(100% - var(--2) - 32px - 28px); /*32 шапка*/

  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: var(--2);

  transform: translateY(calc(0%));
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  background-color: var(--background-color);
  border: 1px solid #888;  

  /*border-left:1px solid var(--main-color);
  border-bottom:1px solid var(--main-color);*/
  z-index: 100;
  pointer-events: all;
}


.hud .bottom-drawer.hidden{
  transform: translateY(calc(100% + 60px));
  opacity: 0;
}

.main-list-menu{
  display: flex;
  flex-direction: column;
  gap: var(--6);
  width: calc(100%);
  height: calc(100%);
  padding: var(--3);
  padding-bottom: 80px;
  overflow: hidden;
  overflow-y: scroll;

}

.main-list-menu .date-block{
  display: flex;
  flex-direction: column;
  gap: var(--3);
  width: calc(100%);
}

.main-list-menu .short-gap-block{
  display: flex;
  flex-direction: column;
  gap: var(--1);
  width: calc(100%);
}

.tariff-list-block{
  display: flex;
  flex-direction: column;
  gap: var(--4);
  width: calc(100%);
}

.tariff-list-block .tariff-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--2);
  width: calc(100%);
  align-items: stretch;
}

.tariff-list-block .tariff-list .tariff{
  display: flex;
  flex-direction: column;
  gap: var(--2);
  width: calc(50% - var(--1));
  align-self: stretch;
  border-radius: var(--border-radius);
  background-color: var(--background-color-accent);
  padding: var(--2);
  margin: 0;
  flex: none;
  border: var(--background-color-accent) 2px solid;
}

.tariff-list-block .tariff-list .tariff.selected{
  border: var(--highlight-color) 2px solid;
  box-shadow: 3px 4px 144px 0px #054DEA26;
}

.special-offer{
  display: inline-flex;
  flex-direction: row;
  gap: 2px;
  flex-wrap: nowrap;
  padding: var(--1);
  background: linear-gradient(90deg, #F9B23E 0%, #F79E0B 52.5%, #F79F0D 100%);
  color: #fff;
  border-radius: var(--border-radius);
  text-wrap: none;
  vertical-align: middle;
  align-items: center;
}
.tariff .offer{
  text-wrap: nowrap;
}


.account-comment{
  color: #888;
  align-items: center;
  text-align: center;
}

.list-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding: var(--2);
  height: 80px;
  flex: none;
}

.list-title .balance{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.list-title .balance .plus{
  display: inline-block;
  height: 24px;
  flex: none;
  aspect-ratio: 1/1;
  background: linear-gradient(90deg, #044FF3 0%, #0446D8 52.5%, #2C6DFC 100%);
  border-radius: 12px;
  text-align: center;
  vertical-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  
}

.main-header{
  padding: var(--3);
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  width: 100%;
}

.main-header .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  height: 100%;
  aspect-ratio: 1/1;
}

.main-header .title{
  display: flex;
  flex-direction: row;
  flex: auto;
  align-items: center;
  justify-content: center;
  min-height: 20px;
}

.task-card{
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  background-color: var(--background-color-accent);
  width: 100%;
  position: relative;
  padding: var(--3);
}

.task-card.clickable:active{
  background-color: #fff;
}

.task-card.list-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.task-card.list-card .body{
  max-height: 36px;
  overflow: hidden;
  flex: none;
  position: relative;
}


.task-card  .body .enlarge-btn{
  color: #888;
}


.task-card .body.shrinked p::after{
  content: "";
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  height: 30px;
  background: linear-gradient(transparent, var(--background-color-accent));
}

.task-card .body.shrinked p{
  max-height: 150px;
  overflow: hidden;
  position: relative;
  min-height: 40px;
}

.task-card.result{
  border:2px solid var(--highlight-color);
  padding-top: 30px;
  box-shadow: 3px 4px 144px 0px #054DEA26;
  padding-left: 30px;
  padding-bottom: 30px;
}

.task-card .header{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: -18px;
  left: 20px;
  rotate: -3deg;
  border-radius: calc(var(--border-radius) - 4px);
  background: linear-gradient(90deg, #044FF3 0%, #0446D8 52.5%, #2C6DFC 100%);
  color: #fff;
  width: auto;
  padding: var(--2);
  padding-top: var(--1);
  padding-bottom: var(--1);
}


.task-card .body{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--3);

}

.navigation-panel{
  flex: none;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  
  position:absolute;
  bottom: 0;
  width: calc(100% - 2*var(--2));
  z-index: 100;
  margin: var(--3);
  margin-bottom: var(--4);
  z-index: 100;
  gap: var(--2);
  border-radius: var(--border-radius);
}


.navigation-panel .secondary-option{
  display: flex;
  flex-direction: row;
  background-color: var(--background-color-accent-dark);
  color: #000;
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: var(--3);
  flex: auto;
}


.navigation-panel .primary-option{
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #044FF3 0%, #0446D8 52.5%, #2C6DFC 100%);
  color: #fff;
  border-radius: var(--border-radius);
  cursor: pointer;
  height: 60px;
  align-items: center;
  justify-content: center;
  flex:auto;
}


.bubble{
  position: absolute;
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: linear-gradient(45deg ,cyan, var(--g2g-color));
  z-index: 1;
}

.text-input-panel{
  position:absolute;
  bottom: var(--2);
  left: var(--2);
  right: var(--2);
  background-color: var(--background-color-accent);
  padding: var(--3);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--2)
}

.text-input-panel .text-input-field{
  width:100%;
  min-height: 200px;
  position: relative;
}

.text-input-panel .text-input-field::after{
  content: "";
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  height: 30px;
  background: linear-gradient(transparent, var(--background-color-accent));
}

.text-input-panel .text-input-field textarea{
  width:100%;
  min-height: 200px;
  background-color: var(--background-color-accent);

  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; 
}



.attachment-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--2);
  background-color: var(--background-color-accent);
  width: 100%;
}

.attachment-list .attachment{
  aspect-ratio: 1/1;
  position: relative;
  width: 50px;
  height: 50px;
  flex: none;
  border-radius: calc(var(--border-radius)/2);
  border: 1px solid #888;
  background-color: #888;
}

.attachment-list .attachment .attachment-image{
  width: 100%;
  height: 100%;
  border-radius: calc(var(--border-radius)/2);

}

.attachment-list .attachment .delete-btn{
  position: absolute;
  width: 20px;
  height: 20px;
  top: -8px;
  right: -8px;
  background-color: #FD555D;
  border-radius: 8px;
  border: none;
}


.icons-field{
  width:100%;
  display: flex;
  justify-content: space-between;
  flex: none;
}

.icons-field .icon-send,
.icons-field .icon-plus{
  padding: var(--2);
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: #ddd;
  flex: none;
  border: 1px solid #888;
  cursor: pointer;
}

.icons-field .icon-send{
  background: linear-gradient(90deg, #044FF3 0%, #0446D8 52.5%, #2C6DFC 100%);
  border: none;
  padding-left: 12px;
}

.new-task-help-message{
  display: flex;
  flex-direction: column;
  gap: var(--8);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--3);
  animation: opacity-appear 1s ease;
}


@keyframes opacity-appear{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.opacity-appear{
  animation: opacity-appear 2s ease;
}

.scroll-bar-hide{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scroll-bar-hide::-webkit-scrollbar {
  display: none;
}

.special-sign{
  display: flex;
  flex-direction: row;

  background: linear-gradient(90deg, #044FF3 0%, #0446D8 52.5%, #2C6DFC 100%);
  rotate: -3deg;
  padding: var(--3);
  padding-top: var(--2);
  padding-bottom: var(--2);

  border-radius: var(--border-radius);
  color: #fff;
  background: var(--gradient2, linear-gradient(90deg, #044FF3 0%, #0446D8 52.5%, #2C6DFC 100%));
  box-shadow: 0px 4px 16.1px 0px rgba(0, 0, 0, 0.25);
}